@{
    ViewBag.Title = "Home Page";
}

@using Better.Models.Constants;
@using Better.Models;

@model ICollection<User>

<div class="jumbotron text-center" style="height:100vh;overflow:scroll">
    <h1 class="display-3">Welcome to Better, </h1>
    <p class="lead" align="center">
        @{
            User curUser = SessionData.Get<User>(Better.Models.Constants.Session.CurrentUser);
            if (curUser != null)
            {
                Html.RenderPartial("DisplayUser", curUser);
                <h2> Whats on your mind? </h2>
                Html.RenderPartial("NewPostTextBox", new Post { });
            }
            else
            {
                <p class="text-capitalize display-4"> Why not sign up and become part of the world's leading social network?</p>
            }
            }
    
        @{ 
            if (Model.Count() != 0)
            {
                    <h2>Join our list of users:</h2>
                <div style=";height:200px;width:1000px;overflow:scroll;">
                    @foreach (var user in Model)
                    {
                        @Html.ActionLink(user.Username, "ShowUsers", "User", new { userName = user.Username }, null);
                        <br/>
                    }
                </div>
            }
            else
            {
                <h2>No Users logged in!</h2>
            }

        }


    </p>
</div>

