@{
    ViewBag.Title = "Home Page";
}

@using Better.Models

<div class="jumbotron text-center">
    <h1>Welcome to Better.</h1>
    <p class="lead">
        @{
            if (SessionData.Get<bool>("IsLoggedIn"))
            {
                <p class="text-capitalize"> Hello, @SessionData.Get<string>("LoggedUsername")</p>
            }
            else
            {
                <p class="text-capitalize"> Why not sign up and become part of the world's leading social network?</p>
            }
        }
    </p>
</div>

