@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome to Better.</h1>
    <p class="lead">
        @{
            if (Session["IsLoggedIn"] != null)
            {
                <p class="text-capitalize"> Hello, @Session["LoggedUsername"]</p>
            }
            else
            {
                <p class="text-capitalize"> Why not sign up and become part of the world's leading social network?</p>
            }
        }
    </p>
</div>

