@{
    ViewBag.Title = "Home Page";
}

@model ICollection<User>

@using Better.Models

<div class="jumbotron text-center">
    <h1>Welcome to Better, </h1>
    <p class="lead">
        @{
            User curUser = SessionData.Get<User>("CurUser");
            if (curUser != null)
            {
                Html.RenderPartial("DisplayUser", curUser);
            }
            else
            {
                <p class="text-capitalize"> Why not sign up and become part of the world's leading social network?</p>
            }


            if (Model.Count() != 0)
            {
                    <h2>Join our list of users:</h2>
                <div style=";height:200px;width:1000px;overflow:scroll;">
                    @foreach (var user in Model)
                    {
                        @Html.ActionLink(user.Username, "ShowUsers", "User", new { userName = user.Username }, null);
                        <br/>
                    }
                </div>
            }
            else
            {
                <h2>No Users logged in!</h2>
            }

        }


    </p>
</div>

