
@{
    ViewBag.Title = "Login";
}

@using Better.Controllers
@using Better.Models


@{ 
    if (SessionData.Get<bool>("IsLoggedIn"))
    {
        <h2> You are already logged in!</h2>
        return;
    }

    <h2>Login to Better</h2>

    if (IsPost)
    {
        var userList = UserController.Users;
        var username = Request.Form["Username"];
        var password = Request.Form["Password"];

        foreach (var user in userList)
        {
            if (user.Username == username && user.Passowrd == password)
            {
                SessionData.Put("LoggedUsername", username);
                SessionData.Put("LoggedPassword", password);
                return;
            }
        }

        Response.Write("You haven't been found :( </br>");

    }
}

<form method="post">

    <div class="form-group">
        <label class="col-form-label" for="Username">Default input</label>
        <input type="text" class="form-control" placeholder="Default input" name="Username" id="Username">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="Password" id="Password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
