@model  IEnumerable<Better.Models.Post>
@using Better.Models
@using Better.Models.Constants

<div>
    @foreach (var post in Model)
    {
        Html.RenderPartial("PostedBox", post);

     
        <br/>
    }
</div>

